* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:'Inter', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    padding: 2rem;
}
.intro {
    background: linear-gradient(to right, #f1502f, #131009, #f1502f);
    color: white;
    padding: 4rem 2rem;
    border-radius: 12px;
    margin-bottom: 3rem;
}

.intro-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.intro-subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: #d1d1d1;
}

.about {
    background-color: #f8f9fa;
    color: #333;
    padding: 3rem 2rem;
    border-radius: 12px;
}

.about-title {
    font-size: 2rem;
    font-weight: 600;
    color: #f1502f;
}

.about p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    line-height: 1.7;
}

.about strong {
    color: #cf8576;
}
.small-card {
    max-width: 350px; 
    margin: 10px auto;
  }
  
  .small-card img {
    height: 380px; 
    object-fit: cover;
    width: 100%;
  }

.bg-1 {
    background-color: bisque;
}

.btn-outline-info {
    background-color: #f1502f;
    color: #000;
    font-weight: bold;
    border-color:#cf8576;
}

.btn-outline-info:hover{
    color: #f1502f;
    background-color: white;
    border: salmon;
}

.small-card-curso {
    background-color: #d1d1d1;
}