body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;     
    justify-content: center; 
    background-color: #0f0f0f; 
    color: white;
    font-family: 'Inter', sans-serif;
}
.form-text{
    color: white;
}
.mb-3{
    align-items: center;
    align-content: center;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 400px;
    font-size: 15px;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
}

.btn.btn-primary.btn-primary{
    background-color: #f1502f;
}
