/* homePage.css */

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: #cccccc;
  font-family: 'Inter', sans-serif;
}

/* Section styling */
section {
  max-width: 900px;
  margin: auto;
  padding: 2em;
}

/* Headings */
h1, h2 {
  color: #e0e0e0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
  border-radius: 8px;
}

/* Clase para resaltar palabras clave con el color de Git */
.git-orange {
  color: #f1502f;
  font-weight: bold;
}